body {
  font-family: Arial, Helvetica, sans-serif;
}

#meals-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

p {
  margin: 0;
}

.alfa{
flex-direction: column;
margin: 9px;
cursor: pointer;
}

#meals-initials{display: flex;}