body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
}

.carousel-imgs-container {
  display: flex;
}

img {
  width: 100px;
  margin: 20px;
}

button {
  height: 30px;
  width: 30px;
}

p {
  position: relative;
  top: 100px;
  left: 220px;
  border-bottom: 2px solid #80c700;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: rgb(144, 144, 144);
  padding: 5px;
  font-weight: bold;
  color: #FFFFFF;
}